@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

@theme {
    --color-page-color: #efefef;
    --color-page-alt-color: #eff2f9;
    --color-dark-page-color: #121723;
    --color-dark-alt-color: #181c28;
    --color-header-overlay: rgba(63, 62, 62, 0.336);
    --color-overlay: rgba(10, 14, 29, 0.7);
    --color-main-color: #274CE3;
    --color-main-bg-color: rgba(74, 109, 247, 0.2);
    --color-secondary-color: #EFBF04;
    --color-secondary-bg-color: rgba(239, 191, 4, 0.2);
    --color-violet-indigo: #6a1292;
    --color-main-text: #788293;
    --color-main-text-alt: #959cb1;
    --color-dark-box: #1d232f;
    --color-dark-login: #2c303b;
    --breakpoint-tb: 62rem;
    --shadow-box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.1);
    --shadow-hover-box: 0px 5px 20px 5px rgba(239, 191, 4, 0.3);
    --shadow-dark-hover-box: 0px 5px 15px 5px rgba(75 ,108 ,247 ,0.4);
}

@utility flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    @apply text-center max-w-[570px] mx-auto mb-25
}

.title h2 {
    @apply mb-4 dark:text-white text-3xl sm:text-4xl md:text-[45px] leading-tight! font-bold
}

.title p {
    @apply text-main-text leading-relaxed! md:text-lg
}

.box {
    @apply dark:bg-dark-box
}

.box p {
    @apply text-main-text mt-5 leading-relaxed pr-[10px]
}

header .nav a{
    @apply max-lg:hover:bg-violet-indigo/20 xl:text-[17px] font-medium max-lg:py-3 max-lg:px-6 max-lg:w-full max-lg:rounded-[50px]
}

header a.active {
    @apply text-main-color font-semibold duration-100 max-lg:bg-main-bg-color
}

header .menu-icons ion-icon{
    @apply text-[23px] text-center
}

header .theme,
header .burger,
header nav a{
    @apply duration-150 hover:text-violet-indigo
}


header .icons ion-icon{
    @apply hidden lg:inline-block text-[25px]
}

section {
    @apply py-16 md:py-20 tb:py-28 duration-125
}

/* GROW / SHRINK with alternating sizes per corner */
@keyframes glow-grow {
    0% {
        /* blue small, violet big */
        background-size: 90% 90%, 180% 180%;
    }
    50% {
        /* blue big, violet small */
        background-size: 180% 180%, 90% 90%;
    }
    100% {
        /* back to blue small, violet big */
        background-size: 90% 90%, 180% 180%;
    }
}


/* LIGHT THEME – single blue glow */
@utility glow-effect {
    background-repeat: no-repeat;
    background-position: 0% 0%, 100% 100%;
    background-size: 180% 180%, 90% 90%;
    animation: glow-grow 10s linear infinite;

    background-image:
        radial-gradient(circle at 0% 0%, hsl(221 83% 56% / 0.65) 0, hsl(221 83% 56% / 0) 22%),
        radial-gradient(circle at 100% 100%, hsl(284 78% 32% / 0.65) 0, hsl(284 78% 32% / 0) 22%);
    }

/* DARK THEME – blue top-left + violet bottom-right */
@utility glow-effect-dark{
    background-repeat: no-repeat;
    background-position: 0% 0%, 100% 100%;
    background-size: 180% 180%, 90% 90%;
    animation: glow-grow 10s linear infinite;

    /* smaller radius so even at max they don't fill the screen */
    background-image:
        radial-gradient(circle at 0% 0%, hsl(221 83% 56% / 0.65) 0, hsl(221 83% 56% / 0) 22%),
        radial-gradient(circle at 100% 100%, hsl(284 78% 32% / 0.65) 0, hsl(284 78% 32% / 0) 22%);
}

@keyframes scroll-wheel{
    0% { transform: translateX(-5px); }
    50% { transform: translateX(-8px); }
    100% { transform: translateX(-5px); }
}

#home .mouse .wheel{
    animation: scroll-wheel 1s infinite;
}

#about .part-1 .checklist li {
    @apply flex items-center space-x-4
}

#about .part-1 .checklist li>div {
    @apply flex-center rounded-md bg-main-bg-color size-[30px]
}

#about .part-1 .checklist li lord-icon {
    @apply -translate-y-[2px]
}

#about .part-1 .checklist li span{
    @apply translate-y-px
}

#about .part-2 fieldset {
    @apply border-none p-0 mb-4
}

#about .part-2 fieldset p {
    @apply max-h-0 overflow-hidden duration-300
}

#about .part-2 fieldset p {
    @apply text-base sm:text-lg font-medium leading-relaxed ml-[37px]
}

#about .part-2 fieldset.open p {
    @apply max-h-[500px] my-4
}

#about .part-2 fieldset legend {
    @apply cursor-pointer font-bold text-left flex gap-x-3 dark:text-white text-3xl sm:text-4xl md:text-[45px]
}

#about .part-2 fieldset legend ion-icon{
    @apply text-3xl translate-y-[15px] duration-300 
}

#about .part-2 fieldset.open legend ion-icon{
    @apply rotate-90
}

#about .part-2 fieldset legend h2 {
    @apply text-xl sm:text-2xl lg:text-xl xl:text-2xl duration-250
}

#about .part-2 fieldset:hover legend ion-icon,
#about .part-2 fieldset:hover legend h2,
#about .part-2 fieldset.active legend ion-icon,
#about .part-2 fieldset.active legend h2{
    @apply  text-main-color duration-250
}


.services .box {
    @apply w-full bg-transparent dark:bg-dark-alt-color px-8 py-10 rounded-sm duration-200 shadow-box-shadow hover:shadow-dark-hover-box
}

.services .box .icon {
    @apply flex-center text-main-color bg-main-bg-color text-5xl rounded-md w-[70px] h-[70px] py-[12px] px-[10px]
}

.services .box ion-icon {
    @apply text-[43px]
}

.services .box h3 {
    @apply my-3 font-bold text-2xl mt-10 dark:text-white
}
.services .box .type {
    @apply flex items-center justify-between mb-2
}

.services .box .type .price {
    @apply flex items-center
}

.services .box .type .price h3,
.services .box .type .price h4 {
    @apply m-0 text-[32px] font-bold dark:text-white
}

.services .box .type .price span {
    @apply font-medium text-lg text-main-text translate-y-[3.5px]
}

.services .box .type .sub {
    @apply font-bold dark:text-white text-xl
}

.services .box p {
    @apply mb-7
}

.services .box .btn {
    @apply bg-main-color text-white text-center py-3 duration-150 hover:contrast-125 cursor-pointer mb-8 rounded-sm font-semibold text-base
}

.services .box ul {
    @apply pt-9 border-t dark:border-gray-700 border-gray-300 space-y-3
}

.services .box ul li {
    @apply flex items-center gap-2
}

.services .box ul li ion-icon {
    @apply text-main-color bg-main-bg-color rounded-full text-[13px] p-0.5
}

.services .box ul li span {
    @apply text-main-text
}

#clients .scroll-list .list{
    animation: slides 30s linear infinite;
}

#clients .scroll-list:hover .list {
    animation-play-state: paused;
}

@keyframes slides {
    to {
        transform: translateX(calc(-100% - 32px));
    }
}

#clients dotlottie-wc{
    @apply absolute w-[390px] h-[400px] sm:h-[500px] z-10;
}

#clients dotlottie-wc:first-of-type{
    @apply left-0 rotate-270 -translate-x-[170px];
}

#clients dotlottie-wc:last-of-type{
    @apply right-0 rotate-90 translate-x-[170px];
}

#clients .box {
    @apply bg-white dark:bg-[#1d2430] h-[380px] flex flex-col shrink-0 justify-between p-8 lg:px-5 xl:p-8 rounded-sm duration-200 shadow-box-shadow hover:shadow-dark-hover-box dark:hover:shadow-dark-hover-box
}

#clients .box p {
    @apply dark:text-white text-main-text pb-8 w-[300px] px-0!
}

#clients .box .profile {
    @apply pt-8 border-t border-main-text dark:border-gray-600
}

#clients .box .profile h4 {
    @apply font-bold text-lg text-main-color
}

#clients .box .profile span {
    @apply text-sm text-main-text
}

#portfolio .box {
    @apply rounded-sm overflow-hidden duration-200 shadow-box-shadow hover:shadow-dark-hover-box dark:hover:shadow-dark-hover-box
}

#portfolio .box .pic {
    @apply relative mb-2 sm:overflow-hidden sm:h-[380px] overflow-hidden bg-dark-box
}

#portfolio .box .pic img {
    @apply w-full bg-white duration-350
}

#portfolio .box:hover img{
    @apply scale-108
}

#portfolio .box .pic span {
    @apply absolute top-0 left-0 translate-x-[23px] translate-y-[23px] font-bold text-main-color text-sm bg-main-bg-color border border-main-color rounded-[50px] px-4 py-2
}

#portfolio .box .pic a{
    @apply absolute top-0 left-0 w-full h-full bg-linear-to-t from-page-alt-color dark:from-dark-box via-page-alt-color/70 dark:via-dark-page-color/70 to-transparent opacity-0 duration-500
}

#portfolio .box:hover .pic a{
    @apply opacity-100
}

#portfolio .box .pic ion-icon{
    @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[20%] duration-300 opacity-0 text-[30px] text-main-color text-sm bg-main-bg-color border border-main-color rounded-[50%] p-4
}

#portfolio .box:hover .pic ion-icon{
    @apply translate-[-50%] opacity-100
}

#portfolio .box .techs{
    @apply flex items-center flex-wrap mb-5 gap-x-3 gap-y-2
}

#portfolio .box .techs span{
    @apply uppercase text-center text-[11px] font-bold text-main-color bg-main-bg-color border border-main-color rounded-[50px] px-3 py-1
}

#portfolio .box h4{
    @apply duration-250 dark:text-white w-fit font-bold text-xl sm:text-2xl cursor-pointer
}

#portfolio .box:hover h4{
    @apply text-main-color
}

#portfolio .box p{
    @apply mt-4 font-medium pb-6 duration-100
}

#contact .title{
    @apply text-left m-0
}

#contact .ticket .name,
#contact .ticket .email,
#contact .ticket .message{
    @apply relative w-full
}

label{
    @apply absolute top-[-35px] left-0 text-[14px] font-medium dark:text-white
}

input,
#contact .ticket textarea{
    @apply bg-[#f8f8f8] dark:bg-[#2C303B] placeholder:text-[#8397aa] rounded-[3px] px-6 py-3 w-full duration-125 outline-1! dark:outline-0! outline-gray-200 border-2 border-transparent focus:border-secondary-color dark:focus:border-main-color
}

textarea{
    @apply outline-0
}

#contact .subscribe input:not(:last-of-type){
    @apply mb-4
}

footer{
    @apply text-main-text-alt
}

footer .logo{
    @apply mb-10
}

footer h4{
    @apply font-bold dark:text-white text-black text-xl mb-6
}

footer a{
    @apply block duration-125 hover:text-violet-indigo
}

footer a:not(:last-of-type){
    @apply mb-3
}

footer .social ion-icon,
footer .social i{
    @apply text-[25px] hover:text-violet-indigo cursor-pointer duration-125
}

footer .links{
    @apply lg:w-2/12
}

/* footer .credits p{
    @apply m-0 font-bold text-black dark:text-white hover:text-main-color
} */

/* .sign .alt-log a,
.sign a.submit{
    @apply w-full py-3 bg-gray-100 dark:bg-dark-login hover:bg-[rgba(74,109,247,0.1)] text-main-text-alt hover:text-main-color dark:shadow-dark-hover-box flex-center duration-225 rounded border-1 border-gray-200 dark:border-transparent hover:border-secondary-color
}

.sign .alt-log span.h-line{
    @apply hidden min-[575px]:block h-[2px] w-[70px] bg-[#78829380]
}
.sign .credentials input{
    @apply shadow-dark-hover-box
}

.sign .check a{
    @apply text-main-color
} */

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

@media (min-width: 450px) {
    .container {
        max-width: 450px
    }
}

@media (min-width: 575px) {
    .container {
        max-width: 575px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1100px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}